@font-face {
  font-family: 'Adlery Pro';
  src: url('font/adlery_pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #F4E3C0;
}

#nombreContainer {
  display: flex;
  color: white;
  width: 100%;
  height: 15vh;
  justify-content: center;
}

.topnav {
  display: flex;
  background-color: #7D2E3E;
  overflow: hidden;
  height: 5vh;
  justify-content: center;
  opacity: 80%;
  position: relative;
  transition: all 0.3s ease-out 0s;
  z-index: 9999;
}

.topnav:hover {
  opacity: 100%;
}


.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #C7A252;
  color: black;
}

.topnav a.active {
  background-color: #C7A252;
  color: white;
}

.topnav img {
  margin-right: 10px;
}

#TituloMapa {
  color: #7D2E3E;
  justify-content: center;
  font-size: 7vh;
  text-align: center;
  font-family: 'Adlery Pro', sans-serif;
}

#mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

#mapaGoogle {
  width: 80%;
  height: 50vh;
}

.contactanos * {
  font-family: 'Roboto', sans-serif;
}

#fondo {
  background-image: url(img/contacto/Fondo_ubicacion.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vh;
}

.contactanos .contenedor-responsive {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.contactanos input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contactanos textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contactanos .texto-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contactanos .celda-responsive {
  min-height: 75px;
}

.contactanos .contenedor-responsive.contenedor {
  max-width: 1320px;
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
}

.contactanos .contenedor-responsive.contenedor-grande {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f2f2f2;
  border-radius: 12px;
  border-color: #7D2E3E;
  border-width: 4px;
  border-style: solid;
  margin-top: 5vh;
  max-width: 1200px;
}

.contactanos .texto-blk.encabezado-contacto {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.contactanos .texto-blk.subencabezado-contacto {
  max-width: 385px;
  color: #939393;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contactanos .svg-contacto {
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 65px;
  height: 40px;
}

.contactanos .enlaces-redes-sociales {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.contactanos .svg-social {
  width: 35px;
  height: 35px;
}

.contactanos .caja-texto {
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contactanos .texto-contacto {
  color: #556B2F;
  font-weight: bold;
}

.contactanos .input {
  height: 50px;
  width: 90%;
  border: 2.5px solid #556B2F;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
}

.contactanos .textinput {
  height: 200px;
  width: 95%;
  border: 2px solid #556B2F;
  border-radius: 5px;
  font-size: 16px;
  padding: 20px 30px 20px 20px;
  max-height: 200px;
  min-height: 100px;
  max-width: 625px;
  min-width: 400px;
}

.contactanos .boton-enviar {
  min-width: 290px;
  height: 60px;
  background-color: #556B2F;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.contactanos .envoltura-boton {
  display: flex;
  justify-content: center;
}

.contactanos .texto-blk.titulo-input {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 15px;
}

.contactanos .celda-responsive.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin-bottom: 30px;
}

.contactanos .celda-responsive.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactanos .caja-texto-cabeza {
  display: none;
}

.contactanos .linea {
  border-right: 1.8px solid #a2a2a2;
}

.contactanos .celda-responsive.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.linea {
  padding: 0 20px;
}


#footer {
  display: flex;
  justify-content: center;
  background-color: #7D2E3E;
  color: white;
  width: 100%;
  height: 5vh;
  bottom: 0;
  text-align: center;
  opacity: 80%;
  text-align: center;
}

#footer p {
  padding-top: 1vh;
  margin: 0;
  font-size: 20px;
}

#copyright {
  margin-top: 1vh;
  margin-left: 1vh;
}


/* Estilo para el mensaje de error en rojo */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


/*Responsive*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}